<div class="tuner-panel">

    <h2>Тюнер для гитары</h2>

    <div>
        <div class="settings-row">
            Тон
            <select [ngModel]="deviceSettings.tunerToneType" (ngModelChange)="setToneType($event)" style="margin-left: 5px;">
                <option value="c">Классика</option>
                <option value="e">Электро</option>
            </select>

            <label class="checkbox" style="margin-left: 25px;">
                <input type="checkbox" [checked]="deviceSettings.tunerRepeatMode" (change)="setRepeatMode($event.target.checked)"><span>повтор</span>
            </label>

        </div>
        <div class="string-buttons-row">
            <a class="string-button" (click)="play('e')" (focus)="trackFocus('e')" [class.active]="isPlaying('e')" tabindex="0"><span>1</span></a>
            <a class="string-button" (click)="play('H')" (focus)="trackFocus('H')" [class.active]="isPlaying('H')" tabindex="0"><span>2</span></a>
            <a class="string-button" (click)="play('G')" (focus)="trackFocus('G')" [class.active]="isPlaying('G')" tabindex="0"><span>3</span></a>
            <a class="string-button" (click)="play('D')" (focus)="trackFocus('D')" [class.active]="isPlaying('D')" tabindex="0"><span>4</span></a>
            <a class="string-button" (click)="play('A')" (focus)="trackFocus('A')" [class.active]="isPlaying('A')" tabindex="0"><span>5</span></a>
            <a class="string-button" (click)="play('E')" (focus)="trackFocus('E')" [class.active]="isPlaying('E')" tabindex="0"><span>6</span></a>
        </div>
        <div class="stop-button-row">
            <a class="string-button stop-button" (click)="stop()" (focus)="trackFocus('')" tabindex="0"><span>СТОП</span></a>
        </div>
    </div>

    <div class="key-help-row">
        <h3>Горячие клавиши</h3>
        <table>
            <tr>
                <td style="white-space: nowrap;"><b>1</b>, <b>2</b>, <b>3</b>, <b>4</b>, <b>5</b>, <b>6</b></td>
                <td>соотвествующая струна</td>
            </tr>
            <tr>
                <td><b>Space</b></td>
                <td>пауза/старт</td>
            </tr>
            <tr>
                <td><b>⇦</b> и <b>⇨</b></td>
                <td>выбор струны: пред./след.</td>
            </tr>
            <tr>
                <td><b>⇧</b> и <b>⇩</b></td>
                <td>выбор тона: Классика/Электро</td>
            </tr>
            <tr>
                <td><b>0</b></td>
                <td>режим повтора: вкл./выкл.</td>
            </tr>
        </table>
    </div>
</div>
