@import "~app/styles/dimensions";

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    gt-artist-breadcrumb {
      display: inline-block;
      margin-bottom: 20px;
    }

    .artist-root {
      display: flex;
      justify-content: center;

      .bands-info {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .songs-list {
        line-height: $mobile-lists-line-height;
        margin-top: 15px;
      }
    }

    .add-song-block {
      margin-top: 15px;
    }
  }
}

.pg-search-block {
  margin-top: 20px;

  a {
    color: #704a00;
  }
}

@media only screen and (min-width: $min-desktop-width) {
  :host {
    .content {
      .artist-root {
        .songs-list {
          line-height: $desktop-lists-line-height;
        }
      }
    }
  }
}
