@use 'styles/colors';

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 18px;
      color: colors.$color-default-link;
      margin-bottom: 5px;
    }
  }

  .user-controls {
    margin-top: 40px;
  }
}
