<div class="content">

  @if (!loaded && (isLoadingIndicatorVisible$|async)) {
    <div class="indicator">
      <div class="message">{{ i18n.loadingMessage }}</div>
      <gt-loading-indicator></gt-loading-indicator>
    </div>
  }

  @if (loaded) {
    <div class="title">
      {{ i18n.title }}
    </div>
    <gt-song [songId]="songId" [showCollectionLink]="true"></gt-song>
    <div class="user-controls">
      @if (isBrowser) {
        <gt-add-song-to-collection [songId]="songId"></gt-add-song-to-collection>
      }
    </div>
  }
</div>
