$color-nav-scene: #d4c3a5;
$color-nav-catalog: #25b4cc;
$color-nav-studio: #40c5a3;
$color-nav-tuner: #c5a6a3;
$color-nav-settings: #a8aee6;
$color-dark-bg: #100e17;
$color-default-link: #025e6e;
$color-golden-link: #704a00;
$color-alt-header: #94794a;
$color-no-sleep: #d4c3a5;

