$max-mobile-width: 899px;
$min-desktop-width: 900px;
$hires-desktop-width: 1921px;

$footer-height: 42px;

$mobile-nav-height: 60px;
$mobile-nav-item-padding: 12px;

$desktop-nav-height: 164px;
$desktop-nav-item-padding: 10px;

$header-z-index: 100;

// for touch devices have a greater line spacing for lists of links.
$mobile-lists-line-height: 1.9em;
$desktop-lists-line-height: 1.7em;
