$max-mobile-width: 899px;
$min-desktop-width: 900px;
$hires-desktop-width: 1921px;
$hires-desktop-height: 800px;

$footer-info-line-height: 42px;
$footer-menu-height: 35px; // Shown in mobile mode only.
$desktop-footer-height: $footer-info-line-height;
$mobile-footer-height: $footer-info-line-height + $footer-menu-height;

$mobile-nav-height: 60px;
$mobile-nav-item-padding: 12px;

$desktop-nav-height: 164px;
$desktop-nav-item-padding: 10px;

$desktop-low-height-nav-height: 96px;

$header-z-index: 100;

// for touch devices have a greater line spacing for lists of links.
$mobile-lists-line-height: 1.9em;
$desktop-lists-line-height: 1.7em;

$sticky-sidebar-width: 75px;
