@import "app/styles/dimensions";

.songs-list {
  line-height: $mobile-lists-line-height;
}

.empty-songs-list {
  font-size: 18px;
  color: #999999;
}

.primary-collection-link {
  margin-left: 5px;
}

@media only screen and (min-width: $min-desktop-width) {
  .songs-list {
    line-height: $desktop-lists-line-height;
  }
}
