<h1>Артисты</h1>

<div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
    <div class="message">Загружаем список артистов…</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded">

    <div style="display: flex; justify-content: center;">
        <div style="display: inline-block">
            <div class="search-input-block">
                <input type="text"
                       [value]="artistFilter"
                       [formControl]="artistFilterControl"
                       accesskey="/"
                       placeholder="поиск по имени"
                       (keyup.esc)="updateArtistFilter('')"
                >
                <button (click)="activateLetter(null)" class="btn" title="Очистить фильтр">Очистить</button>
            </div>

            <div class="letters-navigator-root">
                <div class="letters-navigator">
                    <div *ngFor="let letterBlock of letterBlocks; trackBy: trackByLetter"
                         class="letter-link-block"
                         [class.selected]="isLetterSelected(letterBlock.letter)"
                         (click)="activateLetter(letterBlock.letter)"
                    >
                        <a class="letter-link">{{letterBlock.letter}}</a>
                    </div>
                    <div class="letter-link-block">
                        <a (click)="activateLetter(null)" class="letter-link" title="Показать всех артистов">ВСЕ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="artist-list">
        <div *ngIf="artistFilter.length === 0">
            <div *ngFor="let letterBlock of getVisibleLetterBlocks(); trackBy: trackByLetter" class="letter-block">
                <div class="letter">{{letterBlock.letter}}</div>
                <div>
                    <div *ngFor="let artist of letterBlock.artists; trackBy: trackByArtistId">
                        <a routerLink="{{getArtistPageLink(artist.mount)}}">{{artist.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="artistFilter.length > 0" class="filtered-artists-block">
            <div *ngFor="let artist of getFilteredArtists(); trackBy: trackByArtistId">
                <a routerLink="{{getArtistPageLink(artist.mount)}}">{{artist.name}}</a>
            </div>
        </div>
    </div>

    <div>
        <!--        <gt-song-full-text-search-results-panel [searchText]="artistFilter"></gt-song-full-text-search-results-panel>-->
    </div>

</div>
