<h1>Артисты</h1>

<div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
    <div class="message">Загружаем список артистов…</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded">

    <div style="display: flex; justify-content: center;">
        <div style="display: inline-block">
            <div class="search-input-block">
                <input type="text"
                       [value]="searchValue"
                       [formControl]="artistFilterControl"
                       accesskey="/"
                       placeholder="поиск по имени и тексту"
                       title="Поиск по имени артиста или тексту песни"
                       (keyup.esc)="updateArtistFilter('')"
                >
                <button (click)="activateLetter(null)" class="btn" title="Очистить фильтр">Очистить</button>
            </div>

            <div class="letters-navigator-root">
                <div class="letters-navigator">
                    <div *ngFor="let letterBlock of letterBlocks; trackBy: trackByLetter"
                         class="letter-link-block"
                         [class.selected]="isLetterSelected(letterBlock.letter)"
                         (click)="activateLetter(letterBlock.letter)"
                    >
                        <a class="letter-link">{{letterBlock.letter}}</a>
                    </div>
                    <div class="letter-link-block">
                        <a (click)="activateLetter(null)" class="letter-link" title="Показать всех артистов">ВСЕ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="artist-list">
        <div *ngIf="searchValue.length === 0">
            <div *ngFor="let letterBlock of getVisibleLetterBlocks(); trackBy: trackByLetter" class="letter-block">
                <div class="letter">{{letterBlock.letter}}</div>
                <div>
                    <div *ngFor="let artist of letterBlock.artists; trackBy: trackByArtistId">
                        <a routerLink="{{getArtistPageLink(artist.mount)}}">{{artist.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="searchValue.length > 0" class="filtered-artists-block">

            <div class="search-results-message">Результаты поиска для «<span class="search-text">{{searchValue}}</span>»:</div>

            <h2>Артисты</h2>

            <div *ngIf="filteredArtists.length === 0" class="artists-not-found-message">
                Артисты не найдены
            </div>

            <div *ngFor="let artist of filteredArtists; trackBy: trackByArtistId">
                <a routerLink="{{getArtistPageLink(artist.mount)}}">{{artist.name}}</a>
            </div>

            <ng-container *ngIf="useFullTextSearch()" class="filtered-artists-block">
                <h2>Песни</h2>
                <gt-song-full-text-search-results-panel [searchText]="searchValue"></gt-song-full-text-search-results-panel>
            </ng-container>
        </div>
    </div>


</div>
