.container {
  padding: 10px 20px 15px 20px;

  .title {
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 5px;
  }

  .list-item {
    line-height: 1.7em;

    a {
      .collection {
        display: inline-block;
        margin-left: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
