@import "~app/styles/colors";

:host {
  display: block;

  h1 {
    display: inline;
    margin-right: 10px;
  }

  .icons-block {
    display: inline-block;

    .icon {
      display: inline-block;

      gt-svg-icon {
        height: 20px;
        width: 20px;
        cursor: pointer;
        fill: $color-default-link;
      }

      &.settings-icon {
        margin-left: 12px;
      }

      &.print-icon {
      }
    }
  }

  gt-inline-song-settings {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
