@import "app/styles/colors";
@import "app/styles/dimensions";

:host {
  line-height: $footer-info-line-height; /* Vertically center the text there */
  text-align: center;
}

.c1 {
  color: $color-nav-forum;
}

.c2 {
  color: $color-nav-catalog;
}

.c3 {
  color: $color-nav-studio;
}

.c4 {
  color: $color-nav-tuner;
}

.c5 {
  color: $color-nav-settings;
}

.twitter {
  position: absolute;
  top: 0;
  left: 0;

  a {
    display: block;
    height: $footer-info-line-height;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 5px;

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #AAAAAA;
    }
  }
}

.version {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 10px;
  font-size: 10px;
  color: #999;
  font-style: italic;

  a {
    display: block;
    height: $footer-info-line-height;
    padding-top: 6px;
    padding-right: 8px;
    text-decoration: none;
    color: #999;

    td {
      div {
        margin-top: 2px;
        padding-right: 3px;
      }
    }

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #BBB;
    }
  }
}

.footer-menu {
  position: fixed;
  bottom: 0;
  height: $footer-menu-height;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 6px -6px black;

  .footer-menu-line {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 1px;

    a {
      width: 100%;

      &.btn-flat-white:focus, &.btn-flat-white:hover {
        background-color: white;
      }

      &.btn-level-up {
        width: 24px;
      }

      gt-svg-icon {
        fill: #333;
        height: 24px;
        width: 24px;
      }

      .menu-item-content {
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;

        .menu-item-title {
          padding-left: 8px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          speak: none;
        }
      }
    }
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .footer-menu {
    display: none;
  }
}

$close-button-line-height: 60px;
.drawer {
  height: calc(100% - 60px); // -$close-button-line-height
  background-color: $color-dark-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  overflow: scroll;

  .drawer-items {
    height: calc(100% - 60px); // -$close-button-line-height
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;

    .item {
      width: 140px;
      height: 100%;
      max-height: 120px;
      margin-bottom: 20px;

      a {
        color: #cecece;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        outline: none;

        gt-svg-icon {
          margin: 0 auto;
          height: 80px;
          width: 100%;
        }
      }

      .title {
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
      }

      &.forum gt-svg-icon {
        fill: $color-nav-forum;
      }

      &.catalog gt-svg-icon {
        fill: $color-nav-catalog;
      }

      &.studio gt-svg-icon {
        fill: $color-nav-studio;
      }

      &.tuner gt-svg-icon {
        fill: $color-nav-tuner;
      }

      &.settings gt-svg-icon {
        fill: $color-nav-settings;
      }

      &.no-sleep gt-svg-icon {
        fill: $color-no-sleep;
      }
    }
  }

  .close-button-line {
    height: $close-button-line-height;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-dark-bg;

    .close-button {
      border-radius: 4px;
      border: 1px #333 solid;
      color: #999;
      padding: 5px 10px;
    }
  }
}
