<div [ngClass]="footerClass">

    <div class="twitter" *ngIf="twitterLink">
        <a href="{{twitterLink}}" target="_blank" rel="noopener" title="{{i18n.twitterLinkTitle}}">
            <gt-svg-icon icon="twitter"></gt-svg-icon>
        </a>
    </div>

    <span (click)="router.navigate(['/'])" style="cursor:pointer;" title="{{i18n.homePageLinkTitle}}">
        {{domain}}
    </span>

    <div class="version" title="">
        <a href="{{githubLink}}" target="_blank" rel="noopener" title="{{i18n.githubLinkTitle}}">
            <table>
                <tr>
                    <td>
                        <div>{{day}}</div>
                        <div>{{month}}</div>
                    </td>
                    <td>
                        <gt-svg-icon icon="github"></gt-svg-icon>
                    </td>
                </tr>
            </table>
        </a>
    </div>
</div>
