@import "app/styles/colors";
@import "app/styles/dimensions";

:host {
  line-height: $footer-height; /* Vertically center the text there */
  text-align: center;
}

.c1 {
  color: $color-nav-forum;
}

.c2 {
  color: $color-nav-catalog;
}

.c3 {
  color: $color-nav-studio;
}

.c4 {
  color: $color-nav-tuner;
}

.c5 {
  color: $color-nav-settings;
}

.twitter {
  position: absolute;
  top: 0;
  left: 0;

  a {
    display: block;
    height: $footer-height;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 5px;

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #AAAAAA;
    }
  }
}

.version {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 10px;
  font-size: 10px;
  color: #999;
  font-style: italic;

  a {
    display: block;
    height: $footer-height;
    padding-top: 6px;
    padding-right: 8px;
    text-decoration: none;
    color: #999;

    td {
      div {
        margin-top: 2px;
        padding-right: 3px;
      }
    }

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #BBB;
    }
  }
}
