<div [ngClass]="footerClass">

    <div class="twitter">
        <a href="https://twitter.com/tratatabius" target="_blank" title="Последние новости сервиса в Твиттер.">
            <gt-svg-icon icon="twitter"></gt-svg-icon>
        </a>
    </div>

    <span (click)="router.navigate(['/'])" style="cursor:pointer;" title="Перейти на главную страницу сайта.">
        tabius.ru
    </span>

    <div class="version" title="Текущая версия приложения">
        <a href="https://github.com/tabius/tabius/commits/master" target="_blank" title="Посмотреть последние изменения">
            v{{version}}
        </a>
    </div>
</div>
