@use 'styles/colors';
@use 'styles/dimensions';
@use 'styles/utils';

:host {
  line-height: dimensions.$footer-info-line-height; /* Vertically center the text. */
  text-align: center;
}

.c1 {
  color: colors.$color-nav-scene;
}

.c2 {
  color: colors.$color-nav-catalog;
}

.c3 {
  color: colors.$color-nav-studio;
}

.c4 {
  color: colors.$color-nav-tuner;
}

.c5 {
  color: colors.$color-nav-settings;
}

.support {
  position: absolute;
  top: 0;
  left: 0;

  a {
    display: block;
    height: dimensions.$footer-info-line-height;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 5px;

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #999;
    }
  }
}

.version {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 10px;
  font-size: 10px;
  color: #999;
  font-style: italic;

  a {
    display: block;
    height: dimensions.$footer-info-line-height;
    padding-top: 6px;
    padding-right: 8px;
    text-decoration: none;
    color: #999;

    td {
      div {
        margin-top: 2px;
        padding-right: 3px;
      }
    }

    gt-svg-icon {
      width: 22px;
      height: 22px;
      fill: #bbb;
    }
  }
}

.footer-menu {
  position: fixed;
  bottom: 0;
  height: dimensions.$footer-menu-height;
  width: 100%;
  background-color: white;
  box-shadow: 0 -1px 6px -6px black;

  .footer-menu-line {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 1px;

    a {
      width: 100%;
      @include utils.disable-selection;

      &.btn-flat-white:focus,
      &.btn-flat-white:hover {
        background-color: white;
      }

      &.main-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 12px;
        // Same as other borders.
        border-bottom-color: rgba(0, 0, 0, 0.1);

        gt-svg-icon {
          opacity: 0.95; // Align contrast with the text.
        }

        .menu-button-text {
          font-size: 16px;
          letter-spacing: 2px;
          padding-bottom: 3px;
        }
      }

      &.btn-level-up {
        width: 32px;

        gt-svg-icon {
          width: 22px;
          height: 22px;
        }
      }

      gt-svg-icon {
        fill: #333;
        height: 24px;
        width: 24px;
      }

      .menu-item-content {
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        @include utils.disable-selection;

        .menu-item-title {
          @include utils.disable-selection;
          line-height: 24px;

          span {
            @include utils.disable-selection;
          }
        }

        .menu-item-title-with-icon {
          padding-left: 8px;
        }
      }
    }
  }
}

@media only screen and (min-width: dimensions.$min-desktop-width) {
  .footer-menu {
    display: none;
  }
}

$close-button-line-height: 60px;
$horizontal-gap: 20px;

.drawer {
  height: calc(100% - 60px); // -$close-button-line-height
  background-color: colors.$color-dark-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  overflow: scroll;

  .drawer-items {
    height: calc(100% - 60px); // -$close-button-line-height.
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
    gap: clamp(20px, calc((100vh - 500px) / 2), 150px) $horizontal-gap;

    .item {
      width: 140px;
      max-height: 120px;
      flex: 1 1 calc(50% - 10px); // Up to 2 items per row in portrait mode. For the landscape see a media query below.

      a {
        color: #cecece;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        outline: none;

        gt-svg-icon {
          margin: 0 auto;
          height: 80px;
          width: 100%;
        }
      }

      .title {
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
      }

      &.scene gt-svg-icon {
        fill: colors.$color-nav-scene;
      }

      &.catalog gt-svg-icon {
        fill: colors.$color-nav-catalog;
      }

      &.studio gt-svg-icon {
        fill: colors.$color-nav-studio;
      }

      &.tuner gt-svg-icon {
        fill: colors.$color-nav-tuner;
      }

      &.settings gt-svg-icon {
        fill: colors.$color-nav-settings;
      }

      &.no-sleep gt-svg-icon {
        fill: colors.$color-no-sleep;
      }
    }
  }

  .close-button-line {
    height: $close-button-line-height;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: colors.$color-dark-bg;

    .close-button {
      border-radius: 4px;
      border: 1px #333 solid;
      color: #999;
      padding: 5px 10px;
    }
  }
}

// 3 items per row in landscape mode.
@media (orientation: landscape) {
  .drawer {
    .drawer-items {
      .item {
        flex: 1 1 calc(33.33% - $horizontal-gap);
      }
    }
  }
}