@import "app/styles/dimensions";
@import "app/styles/fonts";
@import "app/styles/colors";

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    .breadcrumb-block {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;

      [icon=level-up] {
        display: inline-block;
        width: 16px;
        height: 16px;
        fill: $color-default-link;
        opacity: 0.9;
      }
    }

    .user-controls {
      margin-top: 40px;
    }

    .forum-link-block {
      margin-top: 20px;
    }

    .edit-song-block {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $min-desktop-width) {
  :host {
    padding-left: $sticky-sidebar-width;
    padding-right: $sticky-sidebar-width;
  }
}
