@use 'styles/dimensions';
@use 'styles/fonts';
@use 'styles/colors';

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    .breadcrumb-block {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;

      [icon='level-up'] {
        display: inline-block;
        width: 16px;
        height: 16px;
        fill: colors.$color-default-link;
        opacity: 0.9;
      }
    }

    .user-controls {
      margin-top: 40px;
    }

    .bottom-action-buttons-block {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .button-item {
        display: inline-block;

        .btn {
          min-width: 115px;
        }

        &:not(:last-of-type) {
          margin-right: 15px;
        }

        .affiliate-button {
          color: colors.$color-golden-link;
        }
      }
    }

    .edit-song-block {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: dimensions.$min-desktop-width) {
  :host {
    padding-left: dimensions.$sticky-sidebar-width;
    padding-right: dimensions.$sticky-sidebar-width;

    .content {
      .bottom-action-buttons-block {
        justify-content: start;

        .button-item {
        }
      }
    }
  }
}
