<gt-head-canonical-link [href]="canonicalPageUrl" *ngIf="canonicalPageUrl"></gt-head-canonical-link>

<div class="content">

    <!-- Loading indicator -->
    <div *ngIf="!loaded && (isLoadingIndicatorVisible$|async)" class="indicator">
        <div class="message">Загружаем текст песни…</div>
        <gt-loading-indicator></gt-loading-indicator>
    </div>

    <!-- Not found block -->
    <gt-resource-not-found *ngIf="notFound" message="Песня не найдена"></gt-resource-not-found>

    <!-- Main content -->
    <div *ngIf="song">

        <div class="breadcrumb-block">
            <gt-collection-breadcrumb [collection]="activeCollection"></gt-collection-breadcrumb>
        </div>

        <gt-song [songId]="song.id" [activeCollectionId]="activeCollection.id"></gt-song>

        <div class="user-controls">
            <gt-add-song-to-collection *ngIf="isBrowser" [song]="song"></gt-add-song-to-collection>
        </div>

        <div *ngIf="hasEditRight" class="edit-song-block">
            <a *ngIf="!editorIsOpen" href="javascript:" (click)="toggleEditor()">Исправить подбор »</a>

            <gt-song-editor *ngIf="editorIsOpen"
                            (closeRequest)="closeEditor($event)"
                            (onMountChangeBeforeUpdate)="onMountChangeBeforeUpdate($event)"
                            [songId]="song.id"
            ></gt-song-editor>
        </div>

        <div *ngIf="hasValidForumTopic(song)" class="forum-link-block">
            <a href="{{getSongForumTopicLink(song)}}">Обсудить подбор на форуме »</a>
        </div>

        <gt-song-prev-next-navigator *ngIf="isBrowser" [songId]="song.id" [activeCollectionId]="activeCollection.id"></gt-song-prev-next-navigator>

    </div>

</div>
