@if (canonicalPageUrl) {
  <gt-head-canonical-link [href]="canonicalPageUrl"></gt-head-canonical-link>
}

<div class="content">
  <!-- Loading indicator -->
  @if (!loaded && (isLoadingIndicatorVisible$|async)) {
    <div class="indicator">
      <div class="message">{{ i18n.loadingSong }}</div>
      <gt-loading-indicator></gt-loading-indicator>
    </div>
  }

  <!-- Not found block -->
  @if (notFound) {
    <gt-resource-not-found message="{{i18n.songNotFound}}"></gt-resource-not-found>
  }

  <!-- Main content -->
  @if (song) {
    <div class="breadcrumb-block">
      <gt-collection-breadcrumb [collection]="activeCollection"></gt-collection-breadcrumb>
      @if (jsonLdBreadcrumb) {
        <gt-json-ld [json]="jsonLdBreadcrumb"></gt-json-ld>
      }
    </div>

    <gt-song [songId]="song.id" [activeCollectionId]="activeCollection?.id" [showCollectionLink]="'if-not-primary'"></gt-song>

    <div class="user-controls">
      @if (isBrowser) {
        <gt-add-song-to-collection [songId]="song.id"></gt-add-song-to-collection>
      }
    </div>

    @if (editorIsOpen) {
      <div class="edit-song-block">
        @if (!user) {
          <gt-user-registration-prompt
            (closeRequest)="closeEditor()"
            class="register-prompt"
          ></gt-user-registration-prompt>
        }
        @if (!!user && !hasEditRight) {
          <gt-moderator-prompt
            (closeRequest)="closeEditor()"
            class="has-no-rights-prompt">
          </gt-moderator-prompt>
        }
        @if (hasEditRight) {
          <gt-song-editor
            (closeRequest)="closeEditor()"
            (mountChangeBeforeUpdate)="onMountChangeBeforeUpdate($event)"
            [songId]="song.id"
            [activeCollectionId]="activeCollection?.id || song.collectionId"
          ></gt-song-editor>
        }
      </div>
    }

    @if (!editorIsOpen && isBrowser) {
      <div class="bottom-action-buttons-block">
        <div class="button-item">
          <a class="btn btn-info" (click)="openEditor()" title="{{i18n.editSongButtonTitle}}">
            <span class="desktop-only-inline">{{ i18n.editSongButtonDesktop }}</span>
            <span class="mobile-only-inline">{{ i18n.editSongButtonMobile }}</span>
          </a>
        </div>
        @if (isSearchVideoOnYoutubeLinkVisible) {
          <div class="button-item">
            <a class="btn" href="{{youtubeSearchSongLink}}" title="{{i18n.searchSongOnYoutubeLinkTitle}}" target="_blank">
              <span>{{ i18n.searchSongOnYoutubeLinkText }}</span>
            </a>
          </div>
        }
        @if (affiliateSongLink) {
          <div class="button-item">
            <a class="btn affiliate-button" href="{{affiliateSongLink}}" title="{{i18n.affiliateLinkButtonTitle}}" target="_blank">
              <span class="desktop-only-inline">{{ i18n.affiliateLinkButtonDesktopLabel }}</span>
              <span class="mobile-only-inline">{{ i18n.affiliateLinkButtonMobileLabel }}</span>
            </a>
          </div>
        }
      </div>
    }

    @if (isBrowser && !editorIsOpen) {
      <gt-song-prev-next-navigator
        [songId]="song.id"
        [activeCollectionId]="activeCollection?.id"
      ></gt-song-prev-next-navigator>
    }
  }

</div>
