@import "app/styles/dimensions";
@import "app/styles/colors";

:host {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
}

.mobile {
  &.push {
  }
}

.desktop {
  &.push {
    height: $desktop-nav-height;
  }
}

@media only screen and (max-height: $hires-desktop-height) {
  .desktop {
    &.push {
      height: $desktop-low-height-nav-height;
    }
  }
}

main {
  display: block;
  padding: 20px 20px $mobile-footer-height;
  margin-bottom: 40px;
}

header {
  display: block;
  width: 100%;
  z-index: $header-z-index;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $mobile-footer-height;
  background-color: $color-dark-bg;
}

@media only screen and (min-width: $min-desktop-width) {
  header {
    position: fixed;
    top: 0;
  }
  main {
    padding: 20px 20px $desktop-footer-height;
  }
  footer {
    height: $desktop-footer-height;
  }
}
