<ng-container *ngIf="!(printMode$|async)">
    <header>
        <gt-navbar></gt-navbar>
    </header>

    <div class="mobile push"></div>
    <div class="desktop push"></div>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <gt-footer></gt-footer>
    </footer>

</ng-container>

<ng-container *ngIf="printMode$|async">
    <router-outlet></router-outlet>
</ng-container>

<!-- TODO: do we need data at all? -->
<ng-template #keyboardShortcuts let-data let-popover="popover">
    <gt-keyboard-shortcuts-popup page="song" [popover]="popover"></gt-keyboard-shortcuts-popup>
</ng-template>

