@use 'styles/dimensions';
@use 'styles/colors';

:host {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
}

.mobile {
  &.push {
  }
}

.desktop {
  &.push {
    height: dimensions.$desktop-nav-height;
  }
}

@media only screen and (max-height: dimensions.$hires-desktop-height) {
  .desktop {
    &.push {
      height: dimensions.$desktop-low-height-nav-height;
    }
  }
}

main {
  display: block;
  padding: 20px 20px dimensions.$mobile-footer-height;
  margin-bottom: 40px;
}

header {
  display: block;
  width: 100%;
  z-index: dimensions.$header-z-index;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: dimensions.$mobile-footer-height;
  background-color: colors.$color-dark-bg;
}

@media only screen and (min-width: dimensions.$min-desktop-width) {
  header {
    position: fixed;
    top: 0;
  }
  main {
    padding: 20px 20px dimensions.$desktop-footer-height;
  }
  footer {
    height: dimensions.$desktop-footer-height;
  }
}
