@import "app/styles/colors";
@import "app/styles/dimensions";


.mobile-buttons-row {
  min-width: 300px;
  display: flex;
  margin-top: 30px;

  justify-content: space-between;

  .btn {
    min-width: 115px;
    font-size: 16px;
  }

  .random-song-icon {
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-bottom: -4px;
  }
}

$random-collection-icon-size: 52px;

.sticky-sidebar {
  .left-bar, .right-bar {
    position: fixed;
    width: $sticky-sidebar-width;
    top: 40px;
    height: 100vh;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;

    gt-svg-icon {
      fill: #999;
      opacity: 0.33;
      width: $sticky-sidebar-width;
      height: $sticky-sidebar-width;

      &:hover, &:focus {
        fill: $color-default-link;
        opacity: 1;
      }
    }

    &:hover, &:focus {
      border: 1px solid #f3f3f3;

      gt-svg-icon {
        opacity: 1;
      }
    }

    .random-song-link {
      position: fixed;
      bottom: $footer-height + 5px;
      width: $sticky-sidebar-width;
      text-align: center;

      gt-svg-icon {
        height: $random-collection-icon-size;
        width: $random-collection-icon-size;
      }
    }
  }

  .left-bar {
    left: 0;
  }

  .right-bar {
    right: 0;
  }

}
