@import "app/styles/dimensions";

.content {
  text-align: center;
  line-height: 1.5em;
  padding: 20px;
  border: solid 1px #ccc;
  background-color: #fefbf7;

  .close-button-block {
    margin-top: 10px;
    text-align: center;
    a {
      cursor: pointer;
      color: #999;
    }
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .content {
    min-width: 700px;
    max-width: 1000px;
  }
}
