@import "app/styles/dimensions";

:host {
  display: block;

  .youtube-video {
    iframe {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media only screen and (min-width: $min-desktop-width) {
    .youtube-video iframe {
      width: 480px;
      height: 270px;
    }
  }
}
