<div (click)="close()" class="floating-close-icon" title="Закрыть настройки">
    <gt-svg-icon icon="close"></gt-svg-icon>
</div>


<div class="settings-title">НАСТРОЙКИ</div>

<div class="settings-block" *ngIf="songSettings">
    <table>
        <tr>
            <td>размер шрифта:</td>
            <td class="value"
                [class.default-value]="isDefaultFontSize"
                [attr.title]="isDefaultFontSize ? null : 'Текущий размер шрифта. Нажмите, чтобы вернуть стандартный размер.'"
            >
                <div (click)="resetFontSize()">{{deviceSettings.songFontSize}}</div>
            </td>
            <td>
                <button (click)="decFontSize()" class="btn dec mono f16px">-</button>
                <button (click)="incFontSize()" class="btn inc mono f16px">+</button>
            </td>
        </tr>
        <tr>
            <td>транспонирование:</td>
            <td class="value"
                [class.default-value]="!isTransposed"
                [attr.title]="isTransposed ? 'Текущее транспонирование. Нажмите, чтобы сбросить.' : null"
            >
                <div (click)="resetSongTranspose()"> {{(songSettings.transpose > 0 ? '+' : '') + songSettings.transpose}}</div>
            </td>
            <td>
                <button (click)="transposeDown()" class="btn dec mono f16px">-</button>
                <button (click)="transposeUp()" class="btn inc mono f16px">+</button>
            </td>
        </tr>

        <tr title="Аккорды можно скрыть, чтобы более эффективно использовать место на экране.">
            <td>скрыть аккорды:</td>
            <td class="value">
                <label class="checkbox">
                    <input type="checkbox" [checked]="songSettings.hideChords" (change)="toggleChordsVisibility($event.target.checked)">
                    <span style="display: inherit"></span>
                </label>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div class="bottom-buttons-block">
    <button (click)="close()" class="btn btn-small btn-flat-white" title="Закрыть настройки">ЗАКРЫТЬ</button>
</div>

