h3 {
  &.with-controls {
    margin-bottom: 10px;
  }
}

.chord-image {
  display: inline-block;
}

.controls-block {
  button {
    border: 0;
    font-size: 18px;
    margin-left: 10px;
    
    gt-svg-icon {
      width: 14px;
      height: 14px;
      fill: #333;
    }
  }
}
