h3 {
  &.with-controls {
    margin-bottom: 10px;
  }
}

.chord-image {
  display: inline-block;
  cursor: pointer;
}

.controls-block {
  button {
    border: 0;
    margin-left: 8px;

    gt-svg-icon {
      width: 14px;
      height: 14px;
      fill: #333;

      &.close-icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}
