<h3>Плейлисты:</h3>

<div class="list">
    <div *ngFor="let p of playlists; trackBy: trackById" class="list-item">
        <label class="checkbox" title="Добавить песню с плейлист «{{p.name}}»">
            <input type="checkbox" [checked]="isInPlaylist(p)" (change)="togglePlaylist(p.id, $event.target)">
            <span>{{p.name}} <a routerLink="{{playlistLinkPrefix + p.mount}}" class='goto-playlist-link' title="Перейти к плейлисту">»</a></span>
        </label>
    </div>

    <div *ngIf="playlists.length === 0" class="list-item">

        <label class="checkbox" title="Добавить песню с плейлист «{{favPlaylistName}}»">
            <input type="checkbox" (change)="toggleNewFavPlaylist($event.target)">
            <span>{{favPlaylistName}}</span>
        </label>

    </div>
</div>
