@import "app/styles/colors";

:host {
  display: flex;
  justify-content: center;

  h2 {
    color: $color-alt-header;
  }

  .song-settings-block {
    margin-top: 20px;

    .song-settings-controls-block {
      margin-top: 20px;

      table {
        tr {
          td {
            padding-top: 5px;
          }
        }
      }

      button {
        margin-left: 5px;
        min-width: 37px;
      }

      select {
        margin-left: 5px;
        border: 1px solid #a9a9a9;
        height: 32px;
        background-color: white;
        padding: 2px 7px;
        font-size: inherit;
      }
    }

    .font-size {
      color: #146a78;
      margin-left: 10px;
      margin-right: 10px;
    }

    .default-font-size {
      color: #555;
    }
  }

  .song-preview-title {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
  }

  .song-preview-block {
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 10px;
    padding: 7px 30px;
  }

  .signin-sign-out-block {
    margin-top: 40px;

    .register-prompt {
      line-height: 2em;
    }
  }
}
