<div class="chord-popover">
    <div *ngIf="chordLayout" class="chord-layout-found-block">
        <gt-chord-image [layout]="chordLayout!"
                        [h4Si]="h4Si"
                        size="4"
                        (click)="popover.close()"
        ></gt-chord-image>
        <div class="link-block">
            <a href="{{chordDiscussionUrl}}" title="Перейти на страницу с обсуждением аппликатур аккордов" target="_blank">обсудить »</a>
        </div>
    </div>
    <div *ngIf="!chordLayout" class="chord-layout-not-found-block">
        <p>
            К сожалению Tabius не знает аппликатуру для этого аккорда.
        </p>
        <p>
            Вы можете помочь и <a href="{{chordDiscussionUrl}}" title="Добавить свою аппликатуру аккорда" target="_blank">добавить</a> свою!
        </p>
    </div>
</div>
