<div class="chord-popover">
    <div *ngIf="chordLayout" class="chord-layout-found-block">
        <gt-chord-image [layout]="chordLayout!"
                        [h4Si]="h4Si"
                        size="4"
                        (click)="popover.close()"
        ></gt-chord-image>
        <div class="link-block">
            <a href="{{chordDiscussionUrl}}" title="{{i18n.discussionLinkTitle}}" target="_blank">{{i18n.discussionLink}}</a>
        </div>
    </div>
    <div *ngIf="!chordLayout" class="chord-layout-not-found-block">
        <p>
            {{i18n.tabiusHasNoChordLayout}}
        </p>
        <p>
            {{i18n.forumLink.prefix}}
            <a href="{{chordDiscussionUrl}}" title="{{i18n.forumLink.title}}" target="_blank">
                {{i18n.forumLink.link}}
            </a>
            {{i18n.forumLink.suffix}}
        </p>
    </div>
</div>
