.chord-popover {
  padding-bottom: 10px;
  display: block;

  .chord-layout-found-block {
    div {
      text-align: center;
      margin-top: 3px;
    }
  }

  .chord-layout-not-found-block {
    text-align: center;
    padding: 10px;
    max-width: 200px;
    line-height: 22px;

    p {
      margin-top: 10px;

      a {
        font-weight: bold;
      }
    }
  }
}
