@import "app/styles/colors";

.no-results-message {
  color: #999;
}

.top-results-message {
  color: #999;
  font-size: 16px;
}

.content-result-block {
  margin-top: 20px;
}

.artist-name {
  font-size: 95%;
  color: $color-golden-link;
}

.content-result-item {
  margin-top: 5px;
  margin-bottom: 15px;

  .content-result-text-block {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;

    .content-result-text {
      white-space: pre-line;
      color: #333;
      text-decoration: none;
      font-size: 16px;
      line-height: 1.3em;
    }
  }
}
