body {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (min-width: 1921px) {
    body {
        font-size: 18px;
    }
}

.categories {
    margin-top: 15px;
}

.categories-title {
    display: none;
}

.categories .description, .category .description, .subcategory .description {
    font-size: 14px;
}

.categories > li:first-of-type {
    border-top: none;
}

.categories > li .card, .category > ul > li .card {
    font-size: 14px;
}

.small, small {
    font-size: 90%;
}

.post-content {
    margin-top: 5px;
}

.categories > li .card, .category > ul > li .card {
    line-height: 16px;
    height: 63px;
}

.categories > li .card img, .category > ul > li .card img {
    width: 25px;
    height: 25px;
}

.alt-login-block h4 {
    display: none;
}

.xregister-block:before, .xlogin-block:before {
    display: block;
    content: 'Совет: \AИспользуйте для входа на форум кнопку от Google если хотите, чтобы на форуме у Вас был тот же аккаунт, что и на tabius.ru';
    margin-bottom: 20px;
    font-weight: 200;
    padding: 10px;
    background-color: #fff7df;
    white-space: pre-wrap;
}

.tabius {
    width: 100%;
    line-height: initial;
}

.tabius nav {
    font-family: Ubuntu, sans-serif;
    display: flex;
    background-color: #100e17;
    color: #cecece;
}

.tabius a {
    text-decoration: none;
    color: inherit !important;
    -webkit-text-stroke: inherit;
}

.tabius .logo {
    color: #49011a;
    font-weight: 700;
}

.tabius nav {
    justify-content: flex-start;
    height: 164px;
}

.tabius nav .item {
    width: 100%;
    padding: 10px;
    border-left: 1px solid #201c29;
    border-right: 1px solid #201c29;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.tabius nav .item a {
    display: flex;
    flex-direction: column;
}

.tabius nav .item a .title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 19px;
}

.tabius nav .item a gt-svg-icon {
    margin: 0 auto;
    height: 96px;
    width: 100%;
}

.tabius gt-svg-icon svg {
    all: inherit;
}

.tabius nav .item.logo-item {
    justify-content: center;
}

.tabius nav .item.index-link-item {
    display: none;
}

.tabius nav .item a .logo {
    font-size: 48px;
    letter-spacing: 4px;
    -webkit-text-stroke: 1.25px #b0b0b0;
}

.tabius nav .item a .logo2 {
    color: #b0b0b0;
    margin-top: 1px;
}

.tabius nav .item a .indicator-block {
    height: 17px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.tabius nav .item:hover {
    background-color: #1d1b29;
}

.tabius nav .item.forum.active .indicator-block:before {
    background: #d4c3a5;
}

.tabius nav .item.forum gt-svg-icon {
    fill: #d4c3a5;
}

.tabius nav .item.catalog.active .indicator-block:before {
    background: #25b4cc;
}

.tabius nav .item.catalog gt-svg-icon {
    fill: #25b4cc;
}

.tabius nav .item.studio.active .indicator-block:before {
    background: #40c5a3;
}

.tabius nav .item.studio gt-svg-icon {
    fill: #40c5a3;
}

.tabius nav .item.tuner.active .indicator-block:before {
    background: #c5a6a3;
}

.tabius nav .item.tuner gt-svg-icon {
    fill: #c5a6a3;
}

.tabius nav .item.settings.active .indicator-block:before {
    background: #a8aee6;
}

.tabius nav .item.settings a gt-svg-icon {
    fill: #a8aee6;
    /*margin-top: 2px;*/
    /*margin-bottom: -2px;*/
}

.tabius nav .item.active .indicator-block:before {
    content: '';
    display: block;
    opacity: 0.95;
    height: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 899px) {
    .categories {
        margin-top: -20px;
    }

    .categories > li {
        padding-top: 20px;
    }

    .tabius nav {
        height: 60px;
    }

    .tabius nav .item {
        /*padding: 5px;*/
    }

    .tabius nav .item {
        display: none;
        border: 0;
    }

    .tabius nav .item.logo-item {
        padding: 0 12px;
        display: flex;
    }

    .tabius nav .item.index-link-item {
        padding: 0 12px;
        display: flex;
        justify-content: center;
    }

    .tabius nav .item.index-link-item .back-link-content {
        display: inline-block;
        height: 32px;
        border-radius: 7px;
        white-space: nowrap;
        border: 2px solid #58585a;
        font-size: 18px;
        line-height: 28px;
        color: #a9a9a9;
        padding: 0 10px;
    }

    .tabius nav .item a .logo {
        font-size: 36px;
        -webkit-text-stroke: 1.4px #b0b0b0;
        letter-spacing: 0;
        text-align: left;
    }

    .tabius nav .item a .logo2 {
        display: none;
    }
}

@media only screen and (max-height: 800px) and (min-width: 900px) {
    .tabius nav {
        height: 96px;
    }

    .tabius nav .item {
        height: 96px;
    }

    .tabius nav .item a .logo {
        font-size: 42px
    }

    .tabius nav .item a .logo2 {
        font-size: 16px
    }

    .tabius nav .item a .title {
        margin-top: 5px;
        font-size: 16px;
    }

    .tabius nav .item a gt-svg-icon {
        margin-top: -1px;
        height: 48px;
    }
}

