@import "app/styles/dimensions";

h1 {
  text-align: center;
}

.artist-block {

  margin-top: 20px;

  h1 {
    margin-bottom: 20px;
  }

  .artist-block-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .register-prompt-block {
      text-align: center;
      line-height: 1.5em;
      padding: 20px;
      margin-bottom: 20px;
      border: solid 1px #ccc;
      background-color: #fefbf7;
    }

    .artist-link-block {
      text-align: center;
    }
  }
}

.playlist-block {

  .playlist-block-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .playlist-item {
      line-height: $mobile-lists-line-height;
    }

    .song-count {
      color: #999;

      span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }

    .no-playlists-block {
      text-align: center;
      line-height: 1.5em;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: solid 1px #ccc;
      background-color: #f6fffd;
    }

    .playlists-bottom-links-block {
      text-align: center;
      margin-top: 50px;
    }
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .artist-block {
    margin-top: 40px;

    .artist-block-content {
      .register-prompt-block {
        min-width: 700px;
      }
    }
  }

  .playlist-block {

    .playlist-block-content {

      .no-playlists-block {
        min-width: 700px;
      }

      .playlist-item {
        line-height: $desktop-lists-line-height;
      }
    }
  }

}
