@import "app/styles/colors";
@import "app/styles/dimensions";

.content {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.register-prompt {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.collection-block {
  display: flex;
  justify-content: center;

  h1 {
    margin-bottom: 10px;
  }

  .song-list-block {
    margin-top: 20px;

    .add-song-block {
      margin-top: 20px;
    }
  }
}

.editors-block {
  margin-top: 15px;
}

@media only screen and (min-width: $min-desktop-width) {
  .register-prompt {
    margin-top: 40px;
  }

  .editors-block {
    margin-top: 25px;
  }
}
