@import "app/styles/dimensions";
@import "app/styles/fonts";

@mixin text-field {
  font-size: 18px;
  font-family: $font-family-mono;
}

:host {
  margin-top: 10px;
  display: block;
}

.editor-block {
  min-width: calc(80vw);

  input, textarea {
    box-sizing: border-box;
  }

  .song-title {
    @include text-field();
    width: 100%;
  }

  .song-mount-block {
    display: flex;
    flex-direction: column;
  }

  textarea.song-content {
    @include text-field();
    margin-top: 10px;
    width: 100%;
    min-height: 50%;
    line-height: 20px;
    padding: 7px;
  }

  .media-links-block {
    margin-top: 5px;

    input {
      width: 100%;
    }
  }

  .song-mount-block {
    margin-top: 5px;

    .song-mount {
      @include text-field();
      min-width: 250px;
      width: 100%;
    }

    .url-demo {
      word-break: break-all;
      padding-right: 5px;
      line-height: 28px;
      color: #999999;
    }
  }

  .buttons-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .left-side-block {
      white-space: nowrap;

      > button {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }

  .delete-button-group {
    white-space: nowrap;
    margin-left: 10px;
    float: right;
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .editor-block {
    .song-mount-block {
      flex-direction: row;

      .url-demo {
        word-break: normal;
      }
    }
  }
}
