@import "app/styles/dimensions";
@import "app/styles/fonts";

:host {
  margin-top: 10px;
  display: block;
}

.editor-block {
  min-width: calc(80vw);

  input, textarea {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font-family-mono;
  }

  input {
    height: 1.8em;
  }

  .song-title {
    width: 100%;
  }

  .song-mount-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }

  textarea.song-content {
    margin-top: 10px;
    width: 100%;
    min-height: 50%;
    line-height: 20px;
    padding: 7px;
  }

  .media-links-block {
    margin-top: 5px;

    input {
      width: 100%;
    }
  }

  .song-mount-block {
    margin-top: 5px;

    .song-mount {
      min-width: 250px;
      width: 100%;
    }

    .url-demo {
      font-size: 16px;
      word-break: break-all;
      line-height: 1.8em;
      color: #999999;
    }
  }

  .buttons-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .left-side-block {
      white-space: nowrap;

      > button {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }

  .delete-button-group {
    white-space: nowrap;
    margin-left: 10px;
    float: right;
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .editor-block {

    input, textarea {
      font-size: 18px;
    }

    .song-mount-block {
      flex-direction: row;

      .url-demo {
        word-break: normal;
        white-space: nowrap;
      }
    }
  }
}
