<div *ngIf="!loaded && (isLoadingIndicatorVisible$|async)" class="indicator">
    <div class="message">Загружаем детали песни…</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded" class="editor-block">
    <div>
        <input #firstFormElement type="text" [(ngModel)]="title"
               (keydown)="handleKeyboardEvent($event)"
               class="song-title"
               placeholder="Название песни">
    </div>
    <div>
        <textarea #textArea [(ngModel)]="content"
                  (keydown)="handleKeyboardEvent($event)"
                  class="song-content"
                  rows="{{getContentRowsCount()}}"
                  placeholder="Текст песни с аккордами"></textarea>
    </div>
    <div class="media-links-block">
        <input [(ngModel)]="mediaLinks"
               (keydown)="handleKeyboardEvent($event)"
               type="text"
               placeholder="Ссылка на YouTube">
    </div>
    <div class="buttons-row">
        <div class="left-side-block">
            <button *ngIf="createMode" class="btn btn-info create-button" (click)="create()">Создать</button>
            <button *ngIf="!createMode" class="btn btn-info update-button" (click)="update()">Сохранить</button>
            <button class="btn close-button" (click)="cancel()">Отменить</button>
        </div>
        <div *ngIf="!createMode" class="delete-button-group">
            <label class="checkbox">
                <input type="checkbox"
                       [checked]="deleteConfirmationFlag"
                       (change)="toggleDeleteConfirmationFlag($event)"
                       title="Подтверждение удаления песни">
                <span>&nbsp;</span>
            </label>
            <button class="btn btn-danger delete-button"
                    [disabled]="!deleteConfirmationFlag"
                    (click)="delete()"
                    [title]="deleteConfirmationFlag ? 'Удалить песню' : 'Необходимо подтвердить удаление песни: поставьте отметку слева.'"
            >Удалить
            </button>
        </div>
    </div>
</div>

