@import "app/styles/dimensions";
@import "app/styles/fonts";
@import "app/styles/colors";
@import "app/styles/buttons";
@import "app/styles/checkboxes";
@import "~@angular/cdk/overlay-prebuilt.css";

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-default;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  cursor: pointer;
}

.indicator {
  display: block;
  margin: 50px auto;
  text-align: center;

  .message {
    color: #615766;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: $max-mobile-width) {
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: $hires-desktop-width) {
  body {
    font-size: 18px;
  }
}

a {
  color: $color-default-link;
  text-decoration: none;

  &.dark-pill {
    font-size: 14px;
    color: #5A5A5A;
    padding: 1px 5px;
    border-radius: 4px;
    border: solid 1px #ababab;
  }
}

a:hover {
  text-decoration: underline;
}

//noinspection CssInvalidHtmlTagReference
c {
  display: inline;
  font-weight: 400;
  color: #1b8193;
  cursor: pointer;
}

@mixin c-popover-panel-border {
  border: 1px solid #ccc;
}

.help-popover-panel {
  gt-popover {
    overflow: auto;
  }
}

.c-popover-panel {
  gt-popover {
    @include c-popover-panel-border();
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    border-radius: 0;

    .arrow {
      @include c-popover-panel-border();
    }
  }
}

.c-popover-backdrop {
  display: none;
}

.c-popover-backdrop-modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.toast-overlay {
  position: fixed;
  bottom: 20px;
  right: 5px;
}

@media only screen and (min-width: $min-desktop-width) {
  .toast-overlay {
    right: 15px;
  }
}

input[type=text] {
  line-height: 24px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

// Using 'inline' instead of 'initial' because IE does not support 'initial'
.mobile-only-inline {
  display: inline;
}

.desktop-only-inline {
  display: none;
}

@media only screen and (min-width: $min-desktop-width) {
  .mobile-only-inline {
    display: none;
  }

  .desktop-only-inline {
    display: inline;
  }
}
