.toast {
  position: relative;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid;
  border-color: #dddddd #d6d6d6 #cfcfcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}

.close-button-row {
  margin-top: 10px;
  text-align: right;
}
