<h1>{{ i18n.title }}</h1>

@if (!loaded && (isLoadingIndicatorVisible$|async)) {
  <div class="indicator" data-pw="loading-indicator">
    <div class="message">{{ i18n.loadingMessage }}</div>
    <gt-loading-indicator></gt-loading-indicator>
  </div>
}

@if (loaded) {
  <div data-pw="loaded-content">
    <div style="display: flex; justify-content: center;">
      <div style="display: inline-block">
        <div class="search-input-block">
          <input #searchField type="text"
            [value]="searchValue"
            [formControl]="collectionFilterControl"
            placeholder="{{i18n.searchInputPlaceholder}}"
            title="{{i18n.searchInputTitle}}"
            >
          @if (isVirtualKeyboardShownOnInput) {
            <div class="search-buttons-block">
              <button (click)="gotoResults()" class="btn btn-hide-keyboard" title="{{i18n.gotoResultsTitle}}">
                <gt-svg-icon icon="search"></gt-svg-icon>
              </button>
              <button (click)="activateLetter(null)" class="btn" title="{{i18n.clearButtonTitle}}">
                <gt-svg-icon icon="undo"></gt-svg-icon>
              </button>
            </div>
          }
          @if (!isVirtualKeyboardShownOnInput) {
            <div>
              <button (click)="activateLetter(null)" class="btn" title="{{i18n.clearButtonTitle}}">{{ i18n.clear }}</button>
            </div>
          }
        </div>
        <div class="letters-navigator-root">
          <div class="letters-navigator">
            @for (letterBlock of letterBlocks; track trackByLetter($index, letterBlock)) {
              <div
                class="letter-link-block"
                [class.selected]="isLetterSelected(letterBlock.letter)"
                (click)="activateLetter(letterBlock.letter)"
                >
                <a class="letter-link">{{ letterBlock.letter }}</a>
              </div>
            }
            <div class="letter-link-block">
              <a (click)="activateLetter(null)" class="letter-link" title="{{i18n.showAllCollectionsTitle}}">{{ i18n.showAllCollections }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collection-list">
      @if (searchValue.length === 0) {
        <div>
          @for (letterBlock of getVisibleLetterBlocks(); track trackByLetter($index, letterBlock)) {
            <div class="letter-block">
              <div class="letter">{{ letterBlock.letter }}</div>
              <div class="letter-collections">
                @for (collection of letterBlock.collections; track trackByCollectionId($index, collection)) {
                  <div [attr.data-pw]="collection.id">
                    <a routerLink="{{collection.link}}" [title]="collection.titleAttribute">{{ collection.name }}</a>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      }
      @if (searchValue.length > 0) {
        <div class="filtered-collections-block" #searchResultsBlock>
          <div class="search-results-message">
            {{ i18n.searchResultsPrefix }} «<span class="search-text">{{ searchValue }}</span>»:
          </div>
          <h2>{{ i18n.artistsHeader }}</h2>
          @if (filteredCollections.length === 0) {
            <div class="collection-not-found-message">
              {{ i18n.noArtistsFound }}
            </div>
          }
          @for (collection of filteredCollections; track trackByCollectionId($index, collection)) {
            <div>
              <a routerLink="{{collection.link}}" [title]="collection.titleAttribute">{{ collection.name }}</a>
            </div>
          }
          @if (useFullTextSearch()) {
            <ng-container class="filtered-collections-block">
              <h2>{{ i18n.songsHeader }}</h2>
              <gt-song-full-text-search-results-panel [searchText]="searchValue"></gt-song-full-text-search-results-panel>
            </ng-container>
          }
        </div>
      }
    </div>
  </div>
}

@if (loaded) {
  <div class="add-collection-block">
    <div>
      @if (!collectionEditorIsOpen) {
        <button
          (click)="toggleCollectionsEditor()"
          class="btn btn-info"
          title="{{i18n.addNewArtistTitle}}">{{ i18n.addNewArtist }}
        </button>
      }
      @if (collectionEditorIsOpen && canCreateNewPublicCollection) {
        <gt-collection-editor
          (closeRequest)="toggleCollectionsEditor()"
        ></gt-collection-editor>
      }
      @if (collectionEditorIsOpen && !canCreateNewPublicCollection) {
        <div>
          @if (!user) {
            <gt-user-registration-prompt class="register-prompt"></gt-user-registration-prompt>
          }
          @if (user) {
            <gt-moderator-prompt class="has-no-rights-prompt"></gt-moderator-prompt>
          }
        </div>
      }
    </div>
  </div>
}

