@import "app/styles/dimensions";
@import "app/styles/colors";

h1 {
  text-align: center;
}

.letters-navigator-root {
  display: flex;
  justify-content: center;
}

.letters-navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 12px;
  justify-content: space-between;

  .letter-link-block {
    text-align: center;
    border: solid #ccc 1px;
    display: inline-block;
    padding: 3px 1px;
    margin: 3px 3px;
    box-sizing: border-box;
    cursor: pointer;

    &.selected {
      background-color: #1c9fb5;
      border-color: #598f98;

      .letter-link {
        color: white;
      }
    }

    .letter-link {
      color: #036272;
      text-decoration: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.search-input-block {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    //max-width: 500px;
    height: 28px;
    border: 1px solid #ccc;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    &::-webkit-input-placeholder {
      text-align: center;
    }

    &::-moz-placeholder {
      text-align: center;
    }

    &::-ms-input-placeholder {
      text-align: center;
    }
  }

  button {
    margin-left: 10px;
  }
}

.collection-list {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  .letter-block {
    padding-top: 1em;
    line-height: $mobile-lists-line-height;

    .letter {
      color: #333;
      font-size: 20px;
      padding: 5px 2px 3px;
      display: inline-block;
    }

    .letter:after {
      content: "";
      height: 2px;
      display: block;
      //background: #fcd14f;
      background: #efca8a;
      margin-left: -2px;
      margin-right: -2px;
    }
  }
}

.filtered-collections-block {
  padding-top: 20px;
  line-height: 1.7em;

  .search-results-message {
    color: #777;

    .search-text {
      font-weight: bold;
    }
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .collection-not-found-message {
    color: #999;
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .letters-navigator {
    font-size: 18px;

    .letter-link-block {
      min-width: 30px;
    }
  }

  .collection-list {
    .letter-block {
      line-height: $desktop-lists-line-height;
    }
  }
}

@media only screen and (min-width: $hires-desktop-width) {
  .letters-navigator {
    font-size: 22px;

    .letter-link-block {
      min-width: 52px;
    }
  }

  .collection-list {
    .letter-block {
      .letter {
        font-size: 26px;
      }

      .letter:after {
        height: 3px;
      }
    }
  }
}

@media only screen and (max-width: $max-mobile-width) {
  .letters-navigator {
    font-size: 16px;

    .letter-link-block {
      min-width: 44px;
    }
  }
}

.add-collection-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .register-prompt, .has-no-rights-prompt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

