<h1>Артисты</h1>

<div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
    <div class="message">Загружаем список артистов…</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded">

    <div style="display: flex; justify-content: center;">
        <div style="display: inline-block">
            <div class="search-input-block">
                <input #searchField type="text"
                       [value]="searchValue"
                       [formControl]="collectionFilterControl"
                       accesskey="/"
                       placeholder="поиск по имени и тексту"
                       title="Поиск по имени артиста или тексту песни"
                >
                <button (click)="activateLetter(null)" class="btn" title="Очистить фильтр">Очистить</button>
            </div>

            <div class="letters-navigator-root">
                <div class="letters-navigator">
                    <div *ngFor="let letterBlock of letterBlocks; trackBy: trackByLetter"
                         class="letter-link-block"
                         [class.selected]="isLetterSelected(letterBlock.letter)"
                         (click)="activateLetter(letterBlock.letter)"
                    >
                        <a class="letter-link">{{letterBlock.letter}}</a>
                    </div>
                    <div class="letter-link-block">
                        <a (click)="activateLetter(null)" class="letter-link" title="Показать всех артистов">ВСЕ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collection-list">
        <div *ngIf="searchValue.length === 0">
            <div *ngFor="let letterBlock of getVisibleLetterBlocks(); trackBy: trackByLetter" class="letter-block">
                <div class="letter">{{letterBlock.letter}}</div>
                <div>
                    <div *ngFor="let collection of letterBlock.collections; trackBy: trackByCollectionId">
                        <a routerLink="{{getCollectionPageLink(collection.mount)}}">{{collection.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="searchValue.length > 0" class="filtered-collections-block">

            <div class="search-results-message">Результаты поиска для «<span class="search-text">{{searchValue}}</span>»:</div>

            <h2>Артисты</h2>

            <div *ngIf="filteredCollections.length === 0" class="collection-not-found-message">
                Артисты не найдены
            </div>

            <div *ngFor="let collection of filteredCollections; trackBy: trackByCollectionId">
                <a routerLink="{{getCollectionPageLink(collection.mount)}}">{{collection.name}}</a>
            </div>

            <ng-container *ngIf="useFullTextSearch()" class="filtered-collections-block">
                <h2>Песни</h2>
                <gt-song-full-text-search-results-panel [searchText]="searchValue"></gt-song-full-text-search-results-panel>
            </ng-container>
        </div>
    </div>

</div>

<div *ngIf="canCreateNewPublicCollection" class="add-collection-block">
    <div>
        <a *ngIf="!collectionEditorIsOpen" href="javascript:" (click)="toggleCollectionsEditor()">Добавить артиста »</a>

        <gt-collection-editor *ngIf="collectionEditorIsOpen"
                              (closeRequest)="toggleCollectionsEditor()"
        ></gt-collection-editor>
    </div>
</div>

