<div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
    <div class="message">Загружаем текст песни…</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded">

    <ng-container *ngIf="mode === 'PrintMode'">
        <gt-song-header [song]="song" [collection]="collection" [showControls]="false"></gt-song-header>
        <gt-song-text [song]="songDetails" [multiColumnMode]="false" [usePrintFontSize]="true"></gt-song-text>
        <gt-song-chords [songId]="song.id"></gt-song-chords>
    </ng-container>

    <ng-container *ngIf="mode !== 'PrintMode'">
        <gt-song-header [song]="song" [collection]="collection" [titleFormat]="mode === 'SongPageMode' ? 'song' : 'song-and-collection'"></gt-song-header>
        <gt-song-video [songDetails]="songDetails"></gt-song-video>
        <gt-song-text [song]="songDetails"></gt-song-text>
        <gt-song-chords [songId]="song.id" showControls="true"></gt-song-chords>
    </ng-container>

</div>
