:host {
  display: block;

  .content {
    display: flex;
    flex-direction: column;

    .song-root {
      display: flex;
      justify-content: center;
    }

    gt-song-chords {
      display: block;
      margin-top: 40px;
    }
  }
}
