<!--Note: recheck SSR on any update. Or rework songHtml to be observable -->
<div class="song-text"
     [attr.data-id]="song.id"
     [ngStyle]="userSongStyle"
     [class.two-column-mode]="is2ColumnMode()"
     [class.three-column-mode]="is3ColumnMode()"
     [class.four-column-mode]="is4ColumnMode()"
>
    <div *ngIf="isBrowser" [innerHTML]="getSongHtml() | safeHtml"></div>
    <div *ngIf="!isBrowser">{{song.content}}</div>
</div>

<ng-template #chordPopover let-data let-popover="popover">
    <div class="chord-popover">
        <div *ngIf="popoverChordLayout" class="chord-layout-found-block">
            <gt-chord-image [layout]="popoverChordLayout!"
                            [h4Si]="h4Si"
                            size="4"
                            (click)="popover.close()"
            ></gt-chord-image>
            <div class="link-block">
                <a href="{{chordDiscussionUrl}}" title="Перейти на страницу с обсуждением аппликатур аккордов" target="_blank">обсудить »</a>
            </div>
        </div>
        <div *ngIf="!popoverChordLayout" class="chord-layout-not-found-block">
            <p>
                К сожалению Tabius не знает аппликатуру для этого аккорда.
            </p>
            <p>
                Вы можете помочь и <a href="{{chordDiscussionUrl}}" title="Добавить свою аппликатуру аккорда" target="_blank">добавить</a> свою!
            </p>
        </div>
    </div>
</ng-template>
