@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/dimensions';

.song-text {
  font-family: fonts.$font-family-mono;
  max-width: 90vw;
  white-space: pre-wrap;
  margin-top: 15px;
  line-height: initial;
}

@mixin multi-column-mode-style {
  // Important: sync with SongTextComponent.CSS_COLUMN_GAP.
  column-gap: 50px;
  column-rule: 1px solid #e8e8e8;
}

.two-column-mode {
  column-count: 2;
  @include multi-column-mode-style();
}

.three-column-mode {
  column-count: 3;
  @include multi-column-mode-style();
}

.four-column-mode {
  column-count: 4;
  @include multi-column-mode-style();
}

@media only screen and (min-width: dimensions.$hires-desktop-width) {
  .song-text {
    font-size: 20px;
  }
}
