@import "app/styles/colors";
@import "app/styles/fonts";
@import "app/styles/dimensions";

.song-text {
  font-family: $font-family-mono;
  max-width: 90vw;
  white-space: pre-wrap;
  margin-top: 15px;
  line-height: initial;
}

@mixin multi-column-mode-style {
  column-gap: 50px;
  column-rule: 1px solid #e8e8e8;
}

.two-column-mode {
  column-count: 2;
  @include multi-column-mode-style();
}

.three-column-mode {
  column-count: 3;
  @include multi-column-mode-style();
}

.four-column-mode {
  column-count: 4;
  @include multi-column-mode-style();
}

.chord-popover {
  padding-bottom: 10px;
  display: block;

  .chord-layout-found-block {
    div {
      text-align: center;
      margin-top: 3px;
    }
  }

  .chord-layout-not-found-block {
    text-align: center;
    padding: 10px;
    max-width: 200px;
    line-height: 22px;

    p {
      margin-top: 10px;
      a {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (min-width: $hires-desktop-width) {
  .song-text {
    font-size: 20px;
  }
}
