@import "~app/styles/colors";
@import "~app/styles/fonts";
@import "~app/styles/dimensions";

$column-separator-style: 1px solid #e8e8e8;

.song-text {
  font-family: $font-family-mono;
  max-width: 90vw;
  white-space: pre-wrap;
  margin-top: 15px;
  line-height: initial;
}

.two-column-mode {
  column-count: 2;
  column-gap: 50px;
  column-rule: $column-separator-style;
}

.three-column-mode {
  column-count: 3;
  column-gap: 50px;
  column-rule: $column-separator-style;
}

@media only screen and (min-width: $hires-desktop-width) {
  .song-text {
    font-size: 20px;
  }
}
