@import "app/styles/dimensions";
@import "app/styles/colors";

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    gt-collection-breadcrumb {
      display: inline-block;
      margin-bottom: 20px;
    }

    .collection-root {
      display: flex;
      justify-content: center;

      .collection-image {
        margin-top: 10px;
      }

      .bands-info {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .editors-block {
      margin-top: 25px;

      .buttons-line {
        button:not(:first-of-type) {
          margin-left: 14px;
        }
      }
    }
  }
}

.pg-search-block {
  margin-top: 20px;

  a {
    color: $color-golden-link;
  }
}
