@use 'styles/dimensions';
@use 'styles/colors';

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    gt-collection-breadcrumb {
      display: block;
      margin-bottom: 10px;
    }

    .collection-root {
      display: flex;
      justify-content: center;

      .collection-image {
        margin-top: 10px;
      }

      .bands-info {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      gt-song-list {
        display: block;
        margin-top: 15px;
      }
    }

    .editors-block {
      margin-top: 25px;

      .buttons-line {
        display: flex;

        button {
          min-width: 135px;
          white-space: nowrap;
        }

        button:not(:first-of-type) {
          margin-left: 14px;
        }
      }
    }
  }
}

.affiliate-block {
  margin-top: 20px;

  a {
    color: colors.$color-golden-link;
    width: 109px;
  }
}
