<div class="content">

    <!-- Loading indicator -->
    <div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
        <div class="message">Загружаем список песен…</div>
        <gt-loading-indicator></gt-loading-indicator>
    </div>

    <!-- Not found block -->
    <gt-resource-not-found *ngIf="notFound" message="Ресурс не найден"></gt-resource-not-found>

    <!-- Main content block -->
    <div *ngIf="loaded && collectionViewModel">
        <gt-collection-breadcrumb [collection]="collectionViewModel ? collectionViewModel.collection : null"
                                  [showCollectionLink]="false"></gt-collection-breadcrumb>

        <div class="collection-root">
            <div>
                <h1>{{collectionViewModel.displayName}}</h1>

                <img *ngIf="!!collectionViewModel.imgSrc && !hasImageLoadingError"
                     [src]="collectionViewModel.imgSrc"
                     [alt]="collectionViewModel.collection.name"
                     [title]="collectionViewModel.displayName"
                     (error)="hasImageLoadingError = true"
                     class="collection-image"
                />

                <div *ngIf="collectionViewModel.bands.length > 0" class="bands-info">
                    <div *ngIf="collectionViewModel.bands.length === 1">
                        Группа <a routerLink="{{getCollectionPageLink(collectionViewModel.bands[0])}}">{{collectionViewModel.bands[0].name}}</a>
                    </div>
                    <div *ngIf="collectionViewModel.bands.length > 1">
                        Группы <span *ngFor="let band of collectionViewModel.bands; let last = last">
                            <a routerLink="{{getCollectionPageLink(band)}}">{{band.name}}</a><span *ngIf="!last">,</span>
                        </span>
                    </div>
                </div>

                <gt-song-list [collectionMount]="collectionViewModel.collection.mount"
                              [songs]="collectionViewModel.songs"
                              [primarySongCollectionMounts]="collectionViewModel.primarySongCollectionMounts"
                ></gt-song-list>
            </div>
        </div>

        <div class="editors-block">
            <div *ngIf="!songEditorIsOpen && !collectionEditorIsOpen" class="buttons-line">
                <button class="btn btn-info" (click)="openSongEditor()">Добавить песню</button>
                <button *ngIf="canEditCollection" class="btn" (click)="toggleCollectionEditor()">Настроить</button>
            </div>

            <!-- Song editor -->
            <gt-user-registration-prompt *ngIf="songEditorIsOpen && !user" class="register-prompt"></gt-user-registration-prompt>
            <gt-moderator-prompt *ngIf="songEditorIsOpen && !!user && !canAddSongs" class="has-no-rights-prompt"></gt-moderator-prompt>
            <gt-song-editor *ngIf="songEditorIsOpen && canAddSongs"
                            (closeRequest)="closeSongEditor($event)"
                            [songId]="-1"
                            [collectionId]="collectionViewModel.collection.id"
                            [initialFocusMode]="'title'"
            ></gt-song-editor>

            <!-- Collection editor -->
            <gt-user-collection-editor *ngIf="collectionEditorIsOpen"
                                       [collectionId]="collectionViewModel.collection.id"
                                       (closeRequest)="toggleCollectionEditor()"
            ></gt-user-collection-editor>
        </div>

        <div *ngIf="collectionViewModel.listed" class="pg-search-block">
            <a href="https://priceguard.ru/search?g=digital&q={{collectionViewModel.displayName}}"
               title="Поддержать исполнителя и купить его официальный диск."
               target="_blank"
               rel="noopener">
                Поддержать артиста »
            </a>
        </div>

        <gt-song-prev-next-navigator [activeCollectionId]="collectionViewModel.collection.id"></gt-song-prev-next-navigator>

    </div>
</div>
