.editor-block {
  width: calc(80vw);
  max-width: 500px;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .form-table {
    width: 100%;

    td {
      white-space: nowrap;
      padding-bottom: 3px;
    }

    tr {
      td:first-child {
        padding-right: 10px;
      }

      td:last-child {
        width: 100%;
      }
    }

    input {
      width: 100%;
    }

    select {
      border: 1px solid #a9a9a9;
      height: 32px;
      background-color: white;
      padding: 2px 7px;
      font-size: inherit;
    }
  }

  .buttons-row {
    padding-top: 10px;

    > button {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}
