.content {
  text-align: center;
  line-height: 1.5em;
  padding: 20px;
  border: solid 1px #ccc;
  background-color: #fefbf7;

  .but-block {
    margin-top: 7px;
    font-weight: bold;
  }

  .link-block {
    margin-top: 7px;
  }
}
