.content {
  background: white;
  padding: 20px;

  .buttons-block {
    margin-top: 40px;

    .single-buttons-block {
      margin-top: 20px;
      text-align: center;

      &.close-button-block {
        margin-top: 40px;
      }
    }
  }
}

