<div class="content">
    <div class="head">
        <h1>tabius</h1>

        <h2>табы и аккорды популярных песен для гитары</h2>
    </div>

    <div class="mobile-buttons-row">
        <a href="{{forumNewsLink}}" class="btn" style="color: #8d7244">НОВОСТИ</a>
        <a routerLink="{{catalogLink}}" class="btn" style="color: #1c889b">КАТАЛОГ</a>
        <a routerLink="{{studioLink}}" class="btn" style="color: #28816a">СТУДИЯ</a>
    </div>

    <div class="feature-list">
        <h3>Чем Tabius отличается от других сайтов?</h3>
        <ul>
            <li>
                Tabius работает без Интернет! Все однажды открытые песни доступны оффлайн.
            </li>
            <li>
                У нас практически нет рекламы. Только ссылки на официальные диски. Попробуйте найти!
            </li>
            <li>
                Исходный код Tabius <a href="https://github.com/tabius/tabius" target="_blank">открыт на GitHub</a>.
                Используйте его для себя и улучшайте Tabius!
            </li>
            <li>
                В первую очередь этот сайт сделан для музыки и её любителей. Это не поменяется.
            </li>
        </ul>
    </div>

    <div class="bottom-link">
        <a href="{{forumNewsLink}}">К новостям проекта »</a>
    </div>

    <div class="bottom-link" style="margin-top: 5px;">
        <a routerLink="{{catalogLink}}">В каталог »</a>
    </div>

    <div class="bottom-sign-in-block">
        <gt-signin-signout-button></gt-signin-signout-button>
    </div>
</div>
