<div class="content">
    <div class="head">
        <h1>tabius<sup>.ru</sup></h1>

        <h2>табы и аккорды популярных песен для гитары</h2>
    </div>

    <div class="feature-list">
        <h3>Чем Tabius отличается от других сайтов?</h3>
        <ul>
            <li>Tabius работает без Интернет! Все однажды открытые песни доступны оффлайн.</li>
            <li>У нас практически нет рекламы. Только ссылки на официальные диски.</li>
            <li>
                Исходный код Tabius <a href="https://github.com/tabius/tabius" target="_blank">открыт</a>! Хотите участвовать в разработке уже сегодня? Выходите
                <a href="#" class="ci" data-a="support" data-b="tabius" data-c="ru"
                   title="support[at]tabius.ru"
                   onclick="window.location.href = 'mail' +'to:' + this.dataset.a + '@' + this.dataset.b + '.' + this.dataset.c; return false;">
                    на связь!
                </a>
            </li>
            <li>В первую очередь этот сайт сделан для музыки и её любителей. Это не поменяется.</li>
        </ul>
    </div>

    <div>
        <a href="https://forum.tabius.ru/category/1">К новостям проекта »</a>
    </div>

    <div style="margin-top: 5px;">
        <a routerLink="/artists">К списку артистов »</a>
    </div>

    <div style="margin-top: 25px;">
        <gt-signin-signout-button></gt-signin-signout-button>
    </div>
</div>
