<div class="content">
    <div class="head">
        <h1>tabius</h1>

        <h2>табы и аккорды популярных песен для гитары</h2>
    </div>

    <div class="feature-list">
        <h3>Чем Tabius отличается от других сайтов?</h3>
        <ul>
            <li>
                Tabius работает без Интернет! Все однажды открытые песни доступны оффлайн.
            </li>
            <li>
                У нас практически нет рекламы. Только ссылки на официальные диски. Попробуйте найти!
            </li>
            <li>
                Исходный код Tabius <a href="https://github.com/tabius/tabius" target="_blank">открыт на GitHub</a>.
                Используйте его для себя и улучшайте Tabius!
            </li>
            <li>
                В первую очередь этот сайт сделан для музыки и её любителей. Это не поменяется.
            </li>
        </ul>
    </div>

    <div>
        <a href="{{forumLink}}">К новостям проекта »</a>
    </div>

    <div style="margin-top: 5px;">
        <a routerLink="{{artistsLink}}">К списку артистов »</a>
    </div>

    <div style="margin-top: 25px;">
        <gt-signin-signout-button></gt-signin-signout-button>
    </div>
</div>
