@import 'app/styles/dimensions';
@import 'app/styles/fonts';

select {
  width: 250px;
  border: 1px solid #999999;
  background-color: white;
  padding: 2px 7px;
  font-size: 16px;
  height: 1.8em;
  font-family: $font-family-mono;
}

.move-button {
  margin-left: 10px;
  margin-top: -2px;
  min-width: 115px;
}

.move-block {
  white-space: nowrap;
}

@media only screen and (min-width: $min-desktop-width) {
  select {
    font-size: 18px;
  }
}
