@if (collections$ | async; as collections) {
  @if (collections.length > 0) {
    <div class="move-block">
      <select [(ngModel)]="selectedCollection">
        @for (collection of collections; track trackById($index, collection)) {
          <option [ngValue]="collection">{{ collection.name }}</option>
        }
      </select>
      <button class="btn move-button" [disabled]="!selectedCollection" (click)="onMoveButtonClicked()">
        {{ mode === 'add' ? i18n.addButtonText : i18n.moveButtonText }}
      </button>
    </div>
  }
}
