<h1> Плейлисты </h1>

<div *ngIf="!loaded && (indicatorIsAllowed$|async)" class="indicator">
    <div class="message">Загружаем плейлисты …</div>
    <gt-loading-indicator></gt-loading-indicator>
</div>

<div *ngIf="loaded" class="playlist-list">

    <div *ngIf="playlists.length > 0">
        <div *ngFor="let playlist of playlists" class="playlist-item">
            <a routerLink="{{playlistLink + playlist.id}}" title="Перейти к плейлисту «{{playlist.name}}»">
                {{playlist.name}}
                <span class="song-count" title="Число песен в плейлисте">[<span>{{playlist.songIds.length}}</span>]</span>
            </a>
        </div>
    </div>

    <div *ngIf="playlists.length === 0" class="no-playlists-block">
        <p>
            Вы ещё не создали ни один плейлист :(
        </p>
        <p style="margin-top: 20px;">
            Чтобы начать пользоваться плейлистами перейдите на страницу любой песни и добавьте её в новый плейлист.
        </p>
    </div>

</div>
