@import "app/styles/fonts";

:host {
  overflow: auto;
}

.dialog {
  width: calc(80vw);
  max-width: 800px;
  margin: 10px 15px 2px 25px;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  color: #0d0d0d;
}


$shortcuts-list-padding: 8px;
$shortcuts-list-border-size: 1px;
$shortcuts-list-border-style: $shortcuts-list-border-size solid #0000001a;

table.shortcuts-list {
  margin-top: 10px;
  font-size: 1.4rem;
  width: 100%;

  tr {
    td {
      border-top: $shortcuts-list-border-style;
      padding: $shortcuts-list-padding;
      white-space: nowrap;
      line-height: 30px;

      &:nth-of-type(1) {
        color: #606060;
        font-size: 18px;
      }

      &:nth-of-type(2) {
        color: #0d0d0d;
        font-size: 20px;
        margin-left: 30px;
        font-family: $font-family-mono;
      }
    }

    &:last-of-type {
      td {
        border-bottom: $shortcuts-list-border-style;
        padding-bottom: $shortcuts-list-padding + $shortcuts-list-border-size;
      }
    }
  }
}

.buttons-row {
  padding: 10px 0;
  text-align: right;
}
