<div class="dialog">

    <h1>{{i18n.title}}</h1>

    <table *ngIf="page === 'song'" class="shortcuts-list">
        <tr>
            <td>{{i18n.prevSong}}</td>
            <td>SHIFT + ⇦</td>
        </tr>
        <tr>
            <td>{{i18n.nextSong}}</td>
            <td>SHIFT + ⇨</td>
        </tr>
        <tr>
            <td>{{i18n.songPage.transposeUp}}</td>
            <td>SHIFT + ⇧</td>
        </tr>
        <tr>
            <td>{{i18n.songPage.transposeDown}}</td>
            <td>SHIFT + ⇩</td>
        </tr>
        <tr>
            <td>{{i18n.songPage.resetTranspose}}</td>
            <td>SHIFT + 0</td>
        </tr>
        <tr>
            <td>{{i18n.songPage.editSong}}</td>
            <td>SHIFT + e</td>
        </tr>
        <tr>
            <td>{{i18n.saveSong}}</td>
            <td>CTRL + Enter</td>
        </tr>
        <tr>
            <td>{{i18n.showHelp}}</td>
            <td>?</td>
        </tr>
    </table>

    <table *ngIf="page === 'collection'" class="shortcuts-list">
        <tr>
            <td>{{i18n.prevSong}}</td>
            <td>SHIFT + ⇦</td>
        </tr>
        <tr>
            <td>{{i18n.nextSong}}</td>
            <td>SHIFT + ⇨</td>
        </tr>
        <tr>
            <td>{{i18n.collectionPage.addSong}}</td>
            <td>SHIFT + a</td>
        </tr>
        <tr>
            <td>{{i18n.saveSong}}</td>
            <td>CTRL + Enter</td>
        </tr>
        <tr>
            <td>{{i18n.showHelp}}</td>
            <td>?</td>
        </tr>
    </table>

    <div class="buttons-row">
        <button class="btn btn-flat-white" (click)="popover.close()">Закрыть</button>
    </div>

</div>
