<div class="dialog">

    <h1>Горячие клавиши</h1>

    <div *ngIf="page === 'song'" class="shortcuts-list">

        <div class="shortcut-line">
            <div class="label">Предыдущая песня</div>
            <div class="shortcut">SHIFT + ⇦</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Следующая песня</div>
            <div class="shortcut">SHIFT + ⇨</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Транспонировать на тон выше</div>
            <div class="shortcut">SHIFT + ⇧</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Транспонировать на тон ниже</div>
            <div class="shortcut">SHIFT + ⇩</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Отменить транспонирование</div>
            <div class="shortcut">SHIFT + 0</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Изменить подбор</div>
            <div class="shortcut">SHIFT + e</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Сохранить изменения (в режиме редактирования)</div>
            <div class="shortcut">CTRL + Enter</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Показать этот диалог</div>
            <div class="shortcut">?</div>
        </div>

    </div>

    <div *ngIf="page === 'collection'" class="shortcuts-list">

        <div class="shortcut-line">
            <div class="label">Предыдущая песня</div>
            <div class="shortcut">SHIFT + ⇦</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Следующая песня</div>
            <div class="shortcut">SHIFT + ⇨</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Добавить песню</div>
            <div class="shortcut">SHIFT + a</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Сохранить изменения (в режиме редактирования)</div>
            <div class="shortcut">CTRL + Enter</div>
        </div>

        <div class="shortcut-line">
            <div class="label">Показать этот диалог</div>
            <div class="shortcut">?</div>
        </div>

    </div>

    <div class="buttons-row">
        <button class="btn btn-flat-white" (click)="popover.close()">Закрыть</button>
    </div>

</div>
