<div class="dialog">

    <h1>Горячие клавиши</h1>

    <table *ngIf="page === 'song'" class="shortcuts-list">
        <tr>
            <td>Предыдущая песня</td>
            <td>SHIFT + ⇦</td>
        </tr>
        <tr>
            <td>Следующая песня</td>
            <td>SHIFT + ⇨</td>
        </tr>
        <tr>
            <td>Транспонировать на тон выше</td>
            <td>SHIFT + ⇧</td>
        </tr>
        <tr>
            <td>Транспонировать на тон ниже</td>
            <td>SHIFT + ⇩</td>
        </tr>
        <tr>
            <td>Отменить транспонирование</td>
            <td>SHIFT + 0</td>
        </tr>
        <tr>
            <td>Изменить подбор</td>
            <td>SHIFT + e</td>
        </tr>
        <tr>
            <td>Сохранить изменения (в режиме редактирования)</td>
            <td>CTRL + Enter</td>
        </tr>
        <tr>
            <td>Показать этот диалог</td>
            <td>?</td>
        </tr>
    </table>

    <table *ngIf="page === 'collection'" class="shortcuts-list">
        <tr>
            <td>Предыдущая песня</td>
            <td>SHIFT + ⇦</td>
        </tr>
        <tr>
            <td>Следующая песня</td>
            <td>SHIFT + ⇨</td>
        </tr>
        <tr>
            <td>Добавить песню</td>
            <td>SHIFT + a</td>
        </tr>
        <tr>
            <td>Сохранить изменения (в режиме редактирования)</td>
            <td>CTRL + Enter</td>
        </tr>
        <tr>
            <td>Показать этот диалог</td>
            <td>?</td>
        </tr>
    </table>

    <div class="buttons-row">
        <button class="btn btn-flat-white" (click)="popover.close()">Закрыть</button>
    </div>

</div>
