@import "app/styles/colors";
@import "app/styles/dimensions";

$color-no-sleep: #d4c3a5;

:host {
  color: #cecece;
}

nav {
  display: flex;
  background-color: $color-dark-bg;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-text-stroke: inherit;
}

.logo {
  color: #49011a;
  font-weight: 700;
}

.desktop {
  nav {
    justify-content: flex-start;
    height: $desktop-nav-height;

    .item {
      height: $desktop-nav-height - (2 * $desktop-nav-item-padding);

      width: 100%;
      padding: $desktop-nav-item-padding;
      border-left: 1px solid #201c29;
      border-right: 1px solid #201c29;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      text-align: center;

      a {
        display: flex;
        flex-direction: column;
        outline: none;

        .title {
          margin-top: 15px;
          font-weight: 400;
          font-size: 19px;
        }

        gt-svg-icon {
          margin: 0 auto;
          height: 96px;
          width: 100%;
        }

        .logo {
          font-size: 48px;
          letter-spacing: 4px;
          -webkit-text-stroke: 1.25px #b0b0b0;
        }

        .logo2 {
          color: #b0b0b0;
          margin-top: 1px;
          font-size: 18px;
        }

        .indicator-block {
          height: 17px;
          margin-top: -10px;
          margin-left: -10px;
          margin-right: -10px;
        }
      }

      &:hover {
        background-color: #1D1B29;
      }

      &.forum {
        &.active {
          .indicator-block:before {
            background: $color-nav-forum;
          }
        }

        gt-svg-icon {
          fill: $color-nav-forum;
        }
      }

      &.artists {
        &.active {
          .indicator-block:before {
            background: $color-nav-artists;
          }
        }

        gt-svg-icon {
          fill: $color-nav-artists;
        }
      }

      &.studio {
        &.active {
          .indicator-block:before {
            background: $color-nav-studio;
          }
        }

        gt-svg-icon {
          fill: $color-nav-studio;
        }
      }

      &.tuner {
        &.active {
          .indicator-block:before {
            background: $color-nav-tuner;
          }
        }

        gt-svg-icon {
          fill: $color-nav-tuner;
        }
      }

      &.settings {
        &.active {
          .indicator-block:before {
            background: $color-nav-settings;
          }
        }

        gt-svg-icon {
          fill: $color-nav-settings;
        }

        .user-icon-desktop {
          display: inline-block;
          position: absolute;
          top: 13px;
          right: 8px;
          height: 30px;
          width: 30px;
          border-radius: 30%;
          background-color: $color-dark-bg;
          border: 2px solid #58585a;
          color: #999;
          font-size: 20px;
          text-align: center;
          line-height: 30px;
        }
      }

      &.active {
        .indicator-block:before {
          content: '';
          display: block;
          opacity: 0.95;
          height: 5px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

.mobile {
  nav {
    .spacer {
      flex-grow: 2;
    }

    .item {
      padding: $mobile-nav-item-padding;
      height: $mobile-nav-height - 2 * ($mobile-nav-item-padding);

      &.logo {
        padding: 0 $mobile-nav-item-padding;
        height: $mobile-nav-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.close {
        padding: 0;
        height: $mobile-nav-height;

        .close-content {
          height: $mobile-nav-height;
          width: $mobile-nav-height;
          //todo:
          background: linear-gradient(to right, #25b4cc, #40c5a3);
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .logo {
        font-size: 36px;
        -webkit-text-stroke: 1.4px #b0b0b0;
      }

      .user-icon-mobile {
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 30%;
        border: 2px solid #58585a;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
      }

      .no-sleep-icon {
        fill: #ddd;
        padding-top: 1px;
      }

      gt-svg-icon {
        margin: 0 auto;
        fill: #ccc;
        height: 32px;
        width: 32px;
      }
    }
  }

  //todo: add separator line from nav to the top
  .drawer {
    position: fixed;
    top: $mobile-nav-height;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-dark-bg;
    height: calc(100% - 52px);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
    overflow: scroll;

    .item {
      width: 140px;
      height: 100%;
      max-height: 120px;
      margin-bottom: 20px;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        outline: none;

        gt-svg-icon {
          margin: 0 auto;
          height: 80px;
          width: 100%;
        }
      }

      .title {
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
      }

      &.forum gt-svg-icon {
        fill: $color-nav-forum;
      }

      &.artists gt-svg-icon {
        fill: $color-nav-artists;
      }

      &.studio gt-svg-icon {
        fill: $color-nav-studio;
      }

      &.tuner gt-svg-icon {
        fill: $color-nav-tuner;
      }

      &.settings gt-svg-icon {
        fill: $color-nav-settings;
      }

      &.no-sleep gt-svg-icon {
        fill: $color-no-sleep;
      }

    }
  }
}


