<!-- desktop layout -->
<div class="desktop">
    <nav>
        <div class="item" style="justify-content: center;">
            <a routerLink="/">
                <div class="logo">tabius</div>
                <div class="logo2">{{i18n.logo2}}</div>
            </a>
        </div>
        <div class="item forum" [class.active]="getActiveSection() === NavSection.Forum">
            <a href="{{forumLink}}">
                <div class="indicator-block"></div>
                <gt-svg-icon icon="forum"></gt-svg-icon>
                <div class="title">{{i18n.forum}}</div>
            </a>
        </div>
        <div class="item catalog" [class.active]="getActiveSection() === NavSection.Catalog">
            <a routerLink="{{catalogLink}}" (click)="resetCollectionPageScroll()">
                <div class="indicator-block"></div>
                <gt-svg-icon icon="artist"></gt-svg-icon>
                <div class="title">{{i18n.catalog}}</div>
            </a>
        </div>
        <div class="item studio" [class.active]="getActiveSection()=== NavSection.Studio">
            <a routerLink="{{studioLink}}">
                <div class="indicator-block"></div>
                <gt-svg-icon icon="studio"></gt-svg-icon>
                <div class="title">{{i18n.studio}}</div>
            </a>
        </div>
        <div class="item tuner" [class.active]="getActiveSection() === NavSection.Tuner">
            <a routerLink="{{tunerLink}}">
                <div class="indicator-block"></div>
                <gt-svg-icon icon="tuner"></gt-svg-icon>
                <div class="title">{{i18n.tuner}}</div>
            </a>
        </div>
        <div class="item settings" [class.active]="getActiveSection() === NavSection.Settings">
            <a routerLink="{{settingsLink}}">
                <div *ngIf="user" class="user-icon-desktop"
                     title="{{i18n.userIconTitle(user.username)}}"
                     (click)="showUserInfo()">
                    {{getUserIconText()}}
                </div>
                <div class="indicator-block"></div>
                <gt-svg-icon icon="settings"></gt-svg-icon>
                <div class="title">{{i18n.settings}}</div>
            </a>
        </div>
    </nav>
</div>

<!--mobile layout-->
<div class="mobile">
    <nav>
        <div class="item logo">
            <a routerLink="/">
                <div class="logo">tabius</div>
            </a>
        </div>

        <div class="spacer"></div>

        <div *ngIf="(noSleepMode$|async) && !opened" class="item">
            <a (click)="toggleNoSleep()">
                <gt-svg-icon icon="no-sleep" class="no-sleep-icon"></gt-svg-icon>
            </a>
        </div>

        <div *ngIf="!opened && user" class="item" style="margin-right: -8px;" (click)="showUserInfo()">
            <div class="user-icon-mobile">{{getUserIconText()}}</div>
        </div>

        <div *ngIf="!opened" (click)="open()" class="item">
            <gt-svg-icon icon="menu"></gt-svg-icon>
        </div>

        <div *ngIf="opened" (click)="close()" class="item close">
            <div class="close-content">
                <gt-svg-icon icon="close" style="fill: white;"></gt-svg-icon>
            </div>
        </div>
    </nav>
    <div *ngIf="opened" class="drawer">
        <div class="item forum">
            <a href="{{forumLink}}" (click)="close()">
                <gt-svg-icon icon="forum"></gt-svg-icon>
                <div class="title">{{i18n.forum}}</div>
            </a>
        </div>
        <div class="item catalog">
            <a routerLink="{{catalogLink}}" (click)="close()">
                <gt-svg-icon icon="artist"></gt-svg-icon>
                <div class="title">{{i18n.catalog}}</div>
            </a>
        </div>
        <div class="item studio">
            <a routerLink="{{studioLink}}" (click)="close()">
                <gt-svg-icon icon="studio"></gt-svg-icon>
                <div class="title">{{i18n.studio}}</div>
            </a>
        </div>
        <div class="item tuner">
            <a routerLink="{{tunerLink}}" (click)="close()">
                <gt-svg-icon icon="tuner"></gt-svg-icon>
                <div class="title">{{i18n.tuner}}</div>
            </a>
        </div>
        <div class="item settings">
            <a routerLink="{{settingsLink}}" (click)="close()">
                <gt-svg-icon icon="settings"></gt-svg-icon>
                <div class="title">{{i18n.settings}}</div>
            </a>
        </div>

        <div class="item no-sleep" title="{{i18n.noSleepTitle}}">
            <a (click)="toggleNoSleep(); close()">
                <gt-svg-icon icon="no-sleep"></gt-svg-icon>
                <div class="title">{{i18n.noSleep}}</div>
            </a>
        </div>

    </div>
</div>
