@import "app/styles/dimensions";

.collections-list {
  margin-top: 12px;
  margin-bottom: 25px;

  .collection-item {
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: $mobile-lists-line-height;

    &.scene-item {
      color: #7E5100;
    }

    label {
      cursor: pointer;

      .goto-collection-link {
        line-height: 16px;
        margin-left: 8px;
        margin-top: -6px;
        margin-bottom: -5px;
        color: #444;
      }
    }

    .register-prompt {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: $min-desktop-width) {
  .collections-list {
    .collection-item {
      line-height: $mobile-lists-line-height;
    }
  }
}
