<div *ngIf="!user || collections.length > 0">
    <h3 i18n="@@add-to-collection-header">Добавить в коллекцию:</h3>

    <div class="collections-list">
        <div *ngFor="let collection of collections; trackBy: trackById" class="collection-item">
            <label class="checkbox" title="Добавить песню в коллекцию «{{collection.name}}»" i18n-title="@@add-to-collection-title-registered">
                <input type="checkbox" [checked]="collection.isSongInCollection" (change)="toggleCollection(collection, $event.target)">
                <span>{{collection.name}} <a [routerLink]="collection.routerLink"
                                             class='goto-collection-link btn btn-flat-white'
                                             title="Перейти на страницу коллекции"
                                             i18n-title="@@goto-collection-title"
                                             i18n="@@goto-collection"
                >перейти »</a></span>
            </label>
        </div>

        <div *ngIf="!user" class="collection-item">
            <label class="checkbox" title="Добавить песню в коллекцию" i18n-title="@@add-to-collection-title-not-registered">
                <input type="checkbox" (change)="toggleRegistrationPrompt($event.target)">
                <span i18n="@@favorite">Избранное</span>
            </label>
            <div *ngIf="showRegistrationPrompt" class="register-prompt">
                <gt-user-registration-prompt></gt-user-registration-prompt>
            </div>
        </div>

    </div>
</div>
