<div class="content">
    <h1>
        «{{playlist.name}}»
        <span class="sub-header">плейлист</span>
    </h1>

    <div class="playlist-root">
        <div class="songs-list">
            <div *ngFor="let item of songItems" class="song-list-item">
                <gt-song [songId]="item.song.id" [mode]="mode"></gt-song>

                <div class="links-block">
                    <a href="{{getSongForumTopicLink(item.song)}}" *ngIf="hasValidForumTopic(item.song)" title="Обсудить подбор на форуме">Форум »</a>
                    <a routerLink="{{getArtistPageLink(item.artist.mount)}}">Артист »</a>
                    <a routerLink="{{getSongPageLink(item.artist.mount, item.song.mount)}}">Песня »</a>
                </div>

                <hr *ngIf="!item.last">

            </div>
        </div>
    </div>

    <a routerLink="{{playlistsLink}}" class="back-to-playlists-link">Назад к плейлистам »</a>
</div>
