:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    .playlist-root {
      display: flex;
      justify-content: center;

      .songs-list {
        line-height: 1.7em;
        margin-top: 15px;

        .song-list-item {
          gt-song {
            margin-top: 10px;
          }

          hr {
            margin-top: 20px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
