@import "~app/styles/dimensions";

:host {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;

      .sub-header {
        display: block;
        color: #8a8689;
        font-size: 18px;
      }
    }

    .playlist-root {
      display: flex;
      justify-content: center;

      .songs-list {
        line-height: 1.7em;
        margin-top: 15px;

        .song-list-item {
          gt-song {
            margin-top: 10px;
          }

          hr {
            margin-top: 20px;
            margin-bottom: 40px;
          }

          .links-block {
            display: flex;
            min-width: 300px;
            max-width: 360px;
            justify-content: space-between;
            margin-top: 20px;

            .links-spacer {
              width: 60px;
            }
          }

        }
      }
    }

    .back-to-playlists-link {
      margin-top: 40px;
    }
  }

  @media only screen and (min-width: $min-desktop-width) {
    .content {
      .playlist-root {
        .songs-list {
          .song-list-item {
            .links-block {
              min-width: 400px;
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}
