@import 'styles/colors';
@import 'styles/dimensions';

.sep {
  padding-right: 5px;
  color: #999;
}

[icon='level-up'] {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: $color-default-link;
  opacity: 0.9;
}

@media only screen and (min-width: $min-desktop-width) {
  :host {
    font-size: 20px;
  }
}
