<a *ngIf="showCatalogLink" routerLink="{{catalogLink}}" title="Перейти в каталог">
    Каталог
    <gt-svg-icon *ngIf="!showCollectionLink" icon="level-up"></gt-svg-icon>
</a>

<a *ngIf="showStudioLink" routerLink="{{studioLink}}" title="Перейти к списку своих коллекций">
    Студия
    <gt-svg-icon icon="level-up"></gt-svg-icon>
</a>

<ng-container *ngIf="collection && showCollectionLink">
    <span class="sep">»</span>
    <a [routerLink]="collectionPageLink">{{collection.name}} </a>
</ng-container>
