@use 'styles/colors';
@use 'styles/dimensions';

.sep {
  padding-right: 5px;
  color: #999;
}

[icon='level-up'] {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: colors.$color-default-link;
  opacity: 0.9;
}

@media only screen and (min-width: dimensions.$min-desktop-width) {
  :host {
    font-size: 20px;
  }
}
