@if (showCatalogLink) {
  <a routerLink="{{catalogLink}}" title="{{i18n.catalogLinkTitle}}">
    {{ i18n.catalogLink }}
    @if (!showCollectionLink) {
      <gt-svg-icon icon="level-up"></gt-svg-icon>
    }
  </a>
}

@if (showStudioLink) {
  <a routerLink="{{studioLink}}" title="{{i18n.studioLinkTitle}}">
    {{ i18n.studioLink }}
    @if (!showCollectionLink) {
      <gt-svg-icon icon="level-up"></gt-svg-icon>
    }
  </a>
}

@if (collection && showCollectionLink) {
  <span class="sep">»</span>
  <a [routerLink]="collectionPageLink">{{ collection.name }} </a>
}
