@import "app/styles/colors";
@import "app/styles/dimensions";

.sep {
  padding-left: 5px;
  padding-right: 5px;
  color: #999;
}

[icon=level-up] {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: $color-default-link;
  opacity: 0.85;
}

@media only screen and (min-width: $min-desktop-width) {
  :host {
    font-size: 20px;
  }
}
