<h1>Новости</h1>

<div class="news-list">

    <div class="news-item">
        <div class="date">2 июня, 2019г.</div>
        <p>Код tabius открыт на <a href="https://github.com/tabius/tabius" target="_blank">Github</a>. Присоединяйтесь!</p>
    </div>

    <div class="news-item">
        <div class="date">31 мая, 2019г.</div>
        <p>В персональных настройках теперь можно указать желаемое отображение ноты Си: как <b class="mono">H</b> или как <b class="mono">B</b>.</p>
    </div>

    <div class="news-item">
        <div class="date">28 мая, 2019г.</div>
        <p>Зарегистрированные пользователи теперь могут добавлять песни в 'Избранное'.</p>
    </div>

    <div class="news-item">
        <div class="date">18 мая, 2019г.</div>
        <p>Добавлена возможность транспонирования аккордов песен.</p>
        <ul>
            <li>Для анонимных пользователей настройки сохраняются в браузере.</li>
            <li>Для залогиненных пользователей настройки хранятся на сервере и одинаковы для всех пользовательских устройств.</li>
        </ul>
    </div>

    <div class="news-item">
        <div class="date">29 апреля, 2019г.</div>
        <p>Запущена пилотная версия сайта.</p>
    </div>

    <p style="margin-top: 20px">
        Перейти к <a routerLink="/artists">списку артистов</a>
    </p>

</div>
